body {
    font-family: Helvetica;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("../pattern.webp");
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;    
}

figure {
    margin: 0;
}

figure p {
    font-size: 16px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

.price {
    font-weight: bold;
    color: blue; 
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}
